@import url('https://fonts.googleapis.com/css?family=Roboto:100i,400')

body,html
	min-height: 100vh
	overflow-x: hidden
	background: #e9e9e9
	font-family: 'Roboto', sans-serif
	//background: linear-gradient(135deg,#6394ff 0%,#0a193b 100%)
	display: flex
	flex-direction: column

.main-content
	
	flex-grow: 1




